@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Poppins&display=swap');

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #AA1464;
    --accent1-color: #8c410a;
    --accent2-color: #555555;
    
    --heading-font: 'Bitter', serif;
    --paragraph-font: 'Poppins', sans-serif;

    --headline-color-on-white: #8c410a;  /* headlines on a white background */ 
    --headline-color-on-color: #FFFFFF ; /* headlines on a colored background */ 
    --paragraph-color-on-white: #555555; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #FFFFFF; /* paragraph text on a colored background */ 
    --paragraph-background-color: #AA1464;
}
body {
    font-family: var(--paragraph-font);
    margin: .5rem;
    min-width: 200px;
    font-size: .85rem;
}

header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    color: var(--paragraph-color-on-color);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    margin-bottom: .8rem;
    background-color: var(--secondary-color);
    padding: 1rem;
}

.container.title{
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.title h1 {
    font-family: var(--heading-font);
    font-size: clamp(.6rem, 1.2rem, 1.8rem);
}

.container img {
    width: 3rem;
    height: 3rem;
}

/* Navigation css */
#menu-btn {
    top: 2.2rem;
    right: .7rem;
    position: absolute;
    font-size: clamp(.7rem, 1.5rem, 1.8rem);
    background-color: transparent;
    color: var(--primary-color);
    border: none;
}

#menu-btn::before {
    content: "☰";
}

#menu-btn.open::before {
    content: "X";
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

.navigation {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.2em;
}

.navigation li {
    display: none;
}

.navigation li a {
    font-size: .9rem;
    display: block;
    padding: .8rem;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
}

.navigation a:hover {
    background-color: var(--accent1-color);
    transition: 0.5s;
    color: var(--paragraph-color-on-color);
}

.open {
    display: block;
}

.navigation.open{
    top: 5rem;
    right: .5rem;
    position: absolute;
    background-color: var(--secondary-color);
    border-radius: 6px;
}

.open li{
    display: block;
    width: 100%;
}

.open li a {
    display: block;
    text-align: right;
}

/* Hero css */

.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.hero img {
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/2;
}

.btn{
    margin:auto;
    grid-column: 1/2;
    grid-row: 1/2;
}

.btn-cta{
    border: none;
    font-family: var(--heading-font);
    border-radius: 6px;
    padding: .7rem 1.4rem;
    color: var(--paragraph-color-on-color);
    background-color: var(--accent2-color);
    box-shadow: 3px 3px 30px 6px rgba(0,0,0,0.90);
}

.btn-cta:hover {
    transition: .5s;
    background-color: var(--accent1-color);
}

/* Cards css */
.card {
    padding: .8rem;
    background-color: #54545409;
    margin-top: .8rem;
    border: 2px solid var(--accent2-color);
    text-align: center;
}

.card h2, .card h3{
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

.card h2 {
    font-size: 1.2rem;
}

.card h3 {
    font-size: 1.05rem;
}

.splt {
    border: none;
    background-color: transparent;
}

/* Footer CSS */
footer{
    color: var(--paragraph-color-on-color);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    background-color: var(--secondary-color);
    padding: 1rem;
}

.container.final {
    display: flex;
    align-items: center;
    column-gap: .6rem;
}

hr{
    color: var(--primary-color);
}

.final h4{
    font-size: .95rem;
    font-family: var(--heading-font);
}

.my-info p{
    text-align: center;
}