@media screen and (min-width:1000px){
    .container.title {
        gap: 1rem;
    }

    #menu-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .navigation {
        flex-direction: row;
        gap: .5rem;
    }

    .navigation li{
        display: inline;
    }

    .navigation li a {
        font-size: 1rem;
    }

    main {
        display: grid;
        grid-template-areas: 
            'hero hero hero hero'
            'card1 card1 card1 card2'
            'card1 card1 card1 card2'
            'splt splt splt splt';
    }

    .splt{
        grid-template-areas: 
            'member1 member2 member3';
        grid-template-columns: repeat(3, 1fr);
    }

    .splt h2{
        display: none;
    }

    .container.final {
        flex-direction: row;
        justify-content: space-around;
    }

    .title-footer {
        display: flex;
        gap: 1rem;
        align-items: center;
        text-align: left;
    }

    .list section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin: 0;
        align-items: center;
    }

    .list section h2 {
        margin-top: .5rem;
    }

    .list section * {
        margin: .5rem 1.5rem;
    }
}