@media screen and (min-width:1024px){
    .container.title {
        gap: 1rem;
    }

    #menu-btn {
        display: none;
    }

    .header-nav {
        margin: auto;
    }

    .navigation {
        flex-direction: row;
        gap: .5rem;
    }

    .navigation li{
        display: inline;
    }

    .navigation li a {
        font-size: 1rem;
    }

    main {
        display: grid;
        grid-template-areas: 
            'hero hero hero hero'
            'card1 card1 card1 card2'
            'card1 card1 card1 card2'
            'splt splt splt splt';
        column-gap: 1.5rem;
    }

    .hero {
        height: 500px;
    }

    .splt{
        grid-template-areas: 
            'member1 member2 member3';
        column-gap: 1.5rem;
    }

    .splt h2{
        display: none;
    }

    .container.final {
        flex-direction: row;
        justify-content: space-around;
    }

    .title-footer {
        display: flex;
        gap: 1rem;
        align-items: center;
        text-align: left;
    }

    
}