@media screen and (min-width: 500px){
    body {
        font-size: 1rem;
    }

    .container img {
        width: 4rem;
        height: 4rem;
    }

    .switch {
        top: 1.5rem;
    }

    #menu-btn {
        top: 2.9rem;
        font-size: clamp(.9rem, 1.7rem, 2.1rem);
    }

    .open li a{
        padding: 1.5rem;
    }

    main {
        display: grid;
        grid-template-areas: 
            'hero hero hero hero'
            'card1 card1 card2 card2'
            'splt splt splt splt';
        column-gap: 1.5rem;
    }

    .btn-cta{
        font-size: 1.1rem;
        padding: 1.2rem 1.9rem;
    }

    .hero {
        grid-area: hero;
    }

    .card1{
        grid-area: card1;
    }

    .card2 {
        grid-area: card2;
    }

    .splt{
        display: grid;
        box-shadow: none;
        grid-area: splt;
        grid-template-areas: 
            'title title title title'
            'member1 member1 member2 member2'
            'member3 member3 member3 member3';
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }

    .splt h2 {
        grid-area: title;
    }

    .member1{
        grid-area: member1;
        margin: 0;
    }

    .member2{
        grid-area: member2;
        margin: 0;
    }

    .member3{
        grid-area: member3;
        margin: 0;
    }

    footer {
        margin-top: 1rem;
    }

    .discover-main {
        display: grid;
        grid-template-areas: none;
        grid-template-columns: .3fr 1fr;
        margin: 0 auto;
    }

    .discover-img {
        margin-top: 2.5rem;
    }

    /*-------------FORM-------------*/
    .join-main {
        grid-template-areas: 
        'title title title'
        'form form benefits'
    }

    .join-main h1 {
        grid-area: title;
    }

    .join-main form {
        max-width: 600px;
        grid-area: form;
        height: min-content;
    }

    .membership-level {
        grid-area: benefits;
    }

    .discover-img img:hover {
        box-shadow: var(--container-shadow);
    }

    /*-------------THANKS PAGE-------------*/
    .thx {
        display: block;
    }
}